* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-size: 1rem;
	background-color: #262626;
	color: #ffffff;
}

main {
	width: 1040px;
	min-width: 1040px;
	margin: 0 auto;
}

header {
	margin-bottom: 0.5rem;
	padding: 5rem 0;
	background-color: #4158d0;
	background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}

#searchBar {
	background-color: white;
	border: none;
	border-radius: 5px;
	height: 30px;
	width: 300px;
}

#buttonSeach {
	border: none;
	border-radius: 0.5rem;
	height: 2rem;
	width: 5rem;
	margin-left: -1.5rem;
	background-color: #4458d0;
	color: #ffff;
}

#mainMenu ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
}

#mainMenu ul .link-menu {
	display: block;
	color: #ffffff;
	margin: 1rem;
	text-decoration: none;
}

.gifContainer {
	display: relative;
}

.gif {
	height: auto;
	width: 250px;
	margin: 2.5px 5px;
	border-radius: 5px;
	display: absolute;
}
